# Ignore all
*

# Unignore all make files
!Makefile
!makefile

# Unignore all files with extenions
!*.*

# Unignore all dirs
!*/

# log files
*.log

# Backup files
*bak
*/bak
bak/
*/bak/
*/bak/*

# Dependancy files
*.d
*.dep

# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo
*.so

# Executables
*.exe
*.out


