# Ignore all
*

# Unignore all files with extenions
!*.*

# Unignore all dirs
!*/

# log files
*.log

# Backup files
*bak
*/bak
bak/
*/bak/
*/bak/*

# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo
*.so

# Executables
*.exe
*.out

# aim.cfg
aim.cfg

